# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v4 
      
      - name: setup java 8
        uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: 'microsoft'
      
      - name: setup java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'microsoft'
      
      - name: setup java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'microsoft'
      
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      
      - name: build with stonecutter
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            ./gradlew.bat chiseledBuild -Dorg.gradle.java.installations.auto-detect=true
          else
            ./gradlew chiseledBuild -Dorg.gradle.java.installations.auto-detect=true
          fi
      
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' }}
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
